<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>测试椭圆曲线加密</title>
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="../static/js/jquery.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>

    <style>
    .vote_img
    {
        max-width: 300px;
    }
    </style>
</head>
<body>
<a hidden="hidden" id="Web_pub">{{ Web_pub }}</a>
<div class="panel-group" id="accordion">
    <form action="{% url 'fold_demo' %}" method="post">
        {% csrf_token %}
        <h2 class="text-center">Login</h2>
        <div class="form-group has-error">
        	<input type="text" class="form-control" id="prv" value="mark" placeholder="private_key">
        </div>
		<div class="form-group">
            <input type="text" class="form-control" id="msg" value="hello" placeholder="message">
        </div>
        <div class="form-group">
            <button type="button" id="Submit" class="btn btn-primary btn-lg btn-block" >Verify</button>
        </div>
{#        <div class="error btns login-form-tips" id="jsLoginTips">{{ msg }}#}
{#        </div> #}
{#        <p><a href="{% url 'index' %}">Lost your Password?</a></p>#}
    </form>
</div>
<script src="../static/js/elliptic/lib/bundle.js"></script>
<script src="../static/js/md5.js"></script>
<script src="../static/js/jsrsasign-all-min.js"></script>
<script>
    function str2b(url) {
    var data = [];
    for (var i = 0; i < url.length; i++)
    data.push(url.charCodeAt(i));
    return data;
}
function hexToBytes(hex) {
    for (var bytes = [], c = 0; c < hex.length; c += 2)
    bytes.push(parseInt(hex.substr(c, 2), 16));
    return bytes;
}
function bytesToHex(bytes) {
    for (var hex = [], i = 0; i < bytes.length; i++) {
        hex.push((bytes[i] >>> 4).toString(16));
        hex.push((bytes[i] & 0xF).toString(16));
    }
    return hex.join("");
}
function len32(bytes) {
    if (bytes.length >= 32)
        return bytes.slice(0,32);
    var prefix = Array(32-bytes.length).fill(0);
    return prefix.concat(bytes);
}
function generateFakePublikey(Web_pub, my_pub) {
    {#gama = Math.ceil(Math.random()*0xFFFFFFFF);#}
    {#delta = Math.ceil(Math.random()*0xFFFFFFFF);#}
    gama = 2;
    delta = 3;
    r = 1;
    BNpub = new BN(Web_pub, 16);
    P = (ec.keyFromPublic(BNpub.toArray())).getPublic();
    d = key.getPrivate();
    n = ec.n;
    G = ec.g;
    R = G.mul(r);
    A = (R.add(G.mul(gama))).add(P.mul(delta));
    t = A.x.mod(n);
    console.log("t:", t.toString(16));
    Bpub = new BN(my_pub);
    console.log("mypub:", Bpub.toString(16));
    hasher = ec.hash();
    hasher.update(Bpub.toString(16)+t.toString(16));
    hashc = hasher.digest();
    console.log((new BN(hashc)).toString(16));
    c = (new BN(hashc)).mod(n);
    console.log(c.toString(16));
    var faker = (c.sub(new BN(delta))).mod(n).toString(16);
    console.log(faker);
    return faker;
}
function getRealSig(fake_sig) {
    BNfake = new BN(hexToBytes(fake_sig), 16);
    console.log(BNfake.toString(16));
    return (BNfake.add(new BN(gama))).mod(n);
}
    console.log("web_pub", $("#Web_pub").text());
    $("#Submit").on('click', function () {
        var prv = $("#prv").val();
        var msg = $("#msg").val();
        EC = require('elliptic').ec;
        utils = require('elliptic').utils;
        BN = utils.jbN();
        ec = new EC('secp256k1');
        key = ec.keyFromPrivate(hex_md5("Mark111"));
        var pub = key.getPublic();
        var key_pub = [4].concat(pub.x.toArray('big', 32), pub.y.toArray('big', 32));
        var fake_pub = generateFakePublikey($("#Web_pub").text(), key_pub);
        {#var sig = ec.sign(str2b(msg), key);#}
        {#var signature = utils.toHex(sig.toDER());#}
        $.post(
           "fold_demo",
            {
                pub_key: fake_pub
            },
            function(data){
               console.log("fake:", data);
               var real_sig = getRealSig(data);
               console.log("real:", real_sig.toString(16));
               $.post("fold_demo",{
                   m: Bpub.toString(16),
                   c: c.toString(16),
                   s: real_sig.toString(16)
               });
            }
        );
        {#var hasher = ec.hash();#}
        {#gama = 80;#}
        {#delta = 99;#}
        {#r = 1;#}
        {#P = pub;#}
        {#console.log(utils.toHex(P.x.toArray()));#}
        {#d = key.getPrivate();#}
        {#n = ec.n;#}
        {#G = ec.g;#}
        {#R = G.mul(r);#}
        {#console.log(R);#}
        {#A = (R.add(G.mul(gama))).add(P.mul(delta));#}
        {#console.log(A);#}
        {#t = A.x.mod(n);#}
        {#bpub = new BN(key_pub);#}
        {##}
        {#hasher.update(t.toString(16)+bpub.toString(16));#}
        {#c = new BN(hasher.digest());#}
        {#console.log(c.toString(16));#}
        {#c = c.umod(n);#}
        {#console.log(c.toString(16));#}
        {#console.log(ec.verify(str2b(msg), sig, pub));#}
        $(this).html("Done");
    });
</script>
</body>
</html>