<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>测试椭圆曲线加密</title>
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="../static/js/jquery.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>

    <style>
    .vote_img
    {
        max-width: 300px;
    }
    </style>
</head>
<body>
<div class="panel-group" id="accordion">
    <form action="{% url 'fold_demo' %}" method="post">
        {% csrf_token %}
        <h2 class="text-center">Login</h2>
        <div class="form-group has-error">
        	<input type="text" class="form-control" id="prv" value="mark" placeholder="private_key">
        </div>
		<div class="form-group">
            <input type="text" class="form-control" id="msg" value="hello" placeholder="message">
        </div>
        <div class="form-group">
            <button type="button" id="Submit" class="btn btn-primary btn-lg btn-block" >Verify</button>
        </div>
{#        <div class="error btns login-form-tips" id="jsLoginTips">{{ msg }}#}
{#        </div> #}
{#        <p><a href="{% url 'index' %}">Lost your Password?</a></p>#}
    </form>
</div>
<script src="../static/js/elliptic/lib/bundle.js"></script>
<script src="../static/js/md5.js"></script>
<script>
    function str2b(url) {
    var data = [];
    for (var i = 0; i < url.length; i++)
    data.push(url.charCodeAt(i));
    return data;
}
    $("#Submit").on('click', function () {
        var prv = $("#prv").val();
        var msg = $("#msg").val();
        var EC = require('elliptic').ec;
        var EdDSA = require('elliptic').eddsa;
        var utils = require('elliptic').utils;
        var ec = new EC('secp256k1');
        {#ec.keyFromPrivate(hex_md5(prv));#}
        var key = ec.keyFromPrivate(hex_md5(prv));
        var pub = key.getPublic();
        console.log(pub);
        var sig = ec.sign(str2b(msg), key);
        var signature = utils.toHex(sig.toDER());
        console.log(signature);
        var key_pub = [4].concat(pub.x.toArray('big', 32), pub.y.toArray('big', 32));
        console.log(key_pub);
        $.post(
           "fold_demo",
            {
                msg: msg,
                signature: signature,
                pub_key: utils.toHex(key_pub),
                pri_key: prv
            },
            function(data){
               console.log(data);
            }
        );
        console.log(hex_md5(prv));
        {#console.log(utils.toHex(key.getPrivate()));#}
        console.log(ec.verify(str2b(msg), sig, pub));
        $(this).html("Done");
    });
</script>
</body>
</html>