<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    {#    以下三行用于禁止缓存#}
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.qrcode.min.js"></script>

    {#    <script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>#}
    {#    <script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script>#}
    {#    <script language="JavaScript" type="text/javascript" src="/js/sprinkle.js"></script>#}

    <title>Basic Form</title>

    <link rel="stylesheet" href="/static/assets/demo.css">
    <link rel="stylesheet" href="/static/assets/form-basic.css">

    <style type="text/css">
        body {
            color: #fff;
            background: #65B0A7;
            height: 100%;
            background-size:100% 100%;
        }
        .middle{
            margin-right: auto;
            margin-left: auto;
            width: 256px;
        }
        .button-div{
            width: 640px;
            margin-top: 10px;
            margin-left: auto;
            margin-right: auto;
        }
        .entry:not(:first-of-type)
        {
            margin-top: 10px;
        }

        .glyphicon
        {
            font-size: 12px;
        }
        .nomarginb{
            margin-bottom: 0px;
        }

        .adjust{
            margin-left:4px;

        }
        @media (max-width: 767px) {
            .adjust{
                margin-left: 0px;
            }
            .button-div{
                width: 340px;
            }
        }

    </style>
    <script>
        function copyLink(){
            var e = document.getElementById("copy");
            e.select(); // 选择对象
            document.execCommand("Copy"); // 执行浏览器复制命令
        }
        var vote_target ="{{ vote_target }}";
        {#var selectionNum =#}

        var room = 1;
        var totalNum =1;
        function optionsUpdate(t){
             var objSelectNow=document.getElementById("select1");
             console.log("before:",totalNum);
             objSelectNow.options.length=0;
            if(t===1){   //add
                totalNum++;

            }else{   //delete
                totalNum--;
            }

            for (i=0;i<totalNum;i++)
            {
                var objOption = document.createElement("OPTION");
              objOption.text= totalNum+"选"+(i+1);
              objOption.value=i+1;
              objSelectNow.options.add(objOption);
            }
            console.log("after:",totalNum);


        }


        function education_fields() {
            room++;
            optionsUpdate(1);
            var objTo = document.getElementById('education_fields')
            var divtest = document.createElement("div");
            divtest.setAttribute("class", "form-group nomarginb removeclass"+room);
            var rdiv = 'removeclass'+room;


            divtest.innerHTML =
                '                <span style="padding: 0 0 0 0;"></span>'+'<div class="nopadding adjust"style="width: 240px;display: inline-block">\n' +
                '                    <div class="form-group" >\n' +
                '                        <div class="input-group" >\n' +
                '                            <input style="width: 162.5px;" type="text" class="form-control" id="Schoolname" name="options" value="" >\n' +
                '\n' +
                '                            <button style="margin: 0 0 0 0;padding: 7px 2px 7px 2px;display:inline-block;font-weight: 400;" type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapse'+room+'"> Details</button>\n' +
                '\n' +
                '                            <button style="margin: 0 0 0 0;padding: 0 0 0 0;display:inline-block;background: #d9534f;" class="btn btn-danger" type="button"  onclick="remove_education_fields('+room+');"> <span style="width: auto;padding:  11px 8px 11px 8px;" class="glyphicon glyphicon-minus" aria-hidden="true"></span> </button>\n' +
                '\n' +
                '                        </div>\n' +
                '\n' +
                '                    </div>' +
                '                    <div  class="panel panel-default collapse" style="border-color: transparent;box-shadow:0 0px 0px;" id="collapse'+room+'">' +
                '\n' +'<textarea name="vote_details"></textarea>' +
                ' <input id="input-b2" style="padding: 5px;font-weight: 300;" name="attachments" type="file" class="file" data-show-preview="false" >\n'
            '\n' +
            '\n' +
            '                    </div>\n' +
            '                </div>';

            objTo.appendChild(divtest)
        }
        function remove_education_fields(rid) {

            $('.removeclass'+rid).remove();
            optionsUpdate(2);

        }
        jQuery(function(){
            //二维码的跳转网页地址

            var my_host = window.location.host;
            var url = my_host+"/vote/"+vote_target;
            console.log(url);
            jQuery('#qrcode').qrcode(url);
        })


    </script>



</head>



<body>
<div class="card adjust3" style="width: 20rem;">

</div>

<div class="main-content">

    <!-- You only need this form and the form-basic.css -->

    <form class="form-basic" method="post" position = "left" action="{% url 'form' %}" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-title-row">
            <h1>创建投票</h1>
        </div>

        <div class="form-row">
            <label>
                <span>投票名称</span>
                <input type="text" name="vote_name">
            </label>
        </div>
        <div class="form-row">
            <label>
                <span>投票介绍</span>
                <textarea name="vote_description"></textarea>

            </label>
        </div> <div class="form-row">
        <label>
            <span style="float: left">上传图片</span>
            <input id="input-b2" class="" style="float: left;padding: 10px; font-weight: 300;" name="vote_img" type="file" class="file" data-show-preview="false">

        </label>
    </div>

        <div class="form-row">
            <label>
                <span >投票选项</span>


                <div class="nopadding" style="width: 240px;display: inline-block">
                    <div class="form-group" >
                        <div class="input-group" >
                            <input style="width: 162.5px;" type="text" class="form-control" id="Schoolname" name="options" value="" >

                            <button name="detail" style="margin: 0 0 0 0;padding: 7px 2px 7px 2px;display:inline-block;font-weight: 400;" type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseOne"> Details</button>

                            <button name="add" style="margin: 0 0 0 0;padding: 0 0 0 0;display:inline-block;background: lightseagreen" class="btn btn-primary" type="button"  onclick="education_fields();"> <span style="width: auto;padding:  11px 8px 11px 8px;" class="glyphicon glyphicon-plus" aria-hidden="true"></span> </button>

                        </div>

                    </div>
                    <div  class="panel panel-default collapse" style="border-color: transparent;box-shadow:0 0px 0px;" id="collapseOne">

                        <textarea name="vote_details"></textarea>
                        <input id="input-b2" style="padding: 5px;font-weight: 300;" name="attachments" type="file" class="file" data-show-preview="false" >

                    </div>
                </div>

                <div id="education_fields"></div>

            </label>

        </div>







        <div class="form-row">
            <label>
                <span>开始时间</span>
                <input type="datetime-local" name="start_time">
            </label>
        </div>
        <div class="form-row">
            <label>
                <span>结束时间</span>
                <input type="datetime-local" name="end_time">
            </label>
        </div>

        <div class="form-row">
            <label>
                <span>可选数目</span>
                <select name="vote_optionable_num" class="adjust2" id ="select1">
                    <option>1选1</option>

                </select>
            </label>
        </div>
        <div class="form-row">
            <label>
                <span>投票权限</span>
                <select name="is_opened"class="adjust2" >
                    <option value ="1">无限制</option>
                    <option value ="2">需权限认证</option>

                </select>
            </label>
        </div>

        <div class="form-row">
            <label>
                <span>公开结果</span>
                <select name="is_checkable" class="adjust2">
                    <option value ="1">yes</option>
                    <option value ="2">no</option>

                </select>
            </label>
        </div>
         <div class="form-row">
            <label>
                <span>匿名投票</span>
                <input type="checkbox" name="vote_anonymity" value="yes" checked="checked" />
            </label>
        </div>

        <div class="form-row">
            <button class="button" type="submit" >发起投票</button>
        </div>

    </form>
    <div  class="button-div" >

        <a href="{% url 'index' %}"><button  type="button"  class="btn" style="float:right;font-weight:600;margin-bottom:30px;color:white;background:teal;box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12)">
            &nbsp&nbspBack&nbsp&nbsp</button></a>
    </div>


    <div>
        <button class="button" data-toggle="modal" data-target="#exampleModal" style="color: #7a7a7a;margin-left: 50%">（发起投票成功后显示二维码）</button>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width: 300px;margin-left: auto;margin-right: auto">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="middle">
                        <div id="qrcode"></div>
                        <div style="margin-top: 10px">
                            <textarea id="copy" style="color: black;width: 77%;height:34px;float: left;overflow-x: auto">对应的网址</textarea>

                            <a><button type="button"  class="btn btn-primary"  onclick="copyLink();">Copy</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>






</body>

</html>

<style>
    .adjust2{
        margin-top: 12px;
    }
    @media (max-width: 767px) {
        .adjust2{
            margin-top: 2px;
        }
    }
    .adjust3{
        margin-bottom: 50px
    }
    @media (max-width: 767px) {
        .adjust3{
            margin-bottom: 30px
        }
    }




</style>

