<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {#    <script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>#}
    {#    <script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script>#}
    {#    <script language="JavaScript" type="text/javascript" src="/js/sprinkle.js"></script>#}

    <title>Basic Form</title>

    <link rel="stylesheet" href="/static/assets/demo.css">
    <link rel="stylesheet" href="/static/assets/form-basic.css">

    <style type="text/css">
        body {
            color: #fff;
            background: #65B0A7;
            height: 100%;
            background-size:100% 100%;
        }
    </style>
    {#    <style type="text/css">#}
    {#        myform {#}
    {#            margin:60%;#}
    {#        }#}
    {#    </style>#}
    <style type="text/css">
        .entry:not(:first-of-type)
        {
            margin-top: 10px;
        }

        .glyphicon
        {
            font-size: 12px;
        }

    </style>
    <script>

        var room = 1;
        function education_fields() {

            room++;
            var objTo = document.getElementById('education_fields')
            var divtest = document.createElement("div");
            divtest.setAttribute("class", "form-group removeclass"+room);
            var rdiv = 'removeclass'+room;
            divtest.innerHTML = '<div class="nopadding"><div class="form-group"><div class="input-group" style="padding-left:33.5%;"> ' +
                ' <input style="width: 150px;"  type="text" class="form-control" id="Schoolname" name="Schoolname[]" value="">' +
                '<button style="margin: 0 0 0 0;padding: 6.9px 10px;font-weight: 400;" type="button" class="btn btn-success" data-toggle="collapse" data-target="#collapse"'+room+'> Details</button>' +
               '<button style="margin: 0 0 0 0;padding: 6.9px 10px;background: #d9534f;" class="btn btn-danger" type="button" onclick="remove_education_fields('+ room +');"> <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> </button></div></div></div></div><div class="clear"></div>'+
                 '<div style="margin-left: 33.5%;" class="panel panel-default collapse" id="collapse"'+room+'>'+
                 'div class="panel-body" style="color: black" >'+
                 'lallalalaa'+
                 '</div>';


            objTo.appendChild(divtest)
        }
        function remove_education_fields(rid) {
            $('.removeclass'+rid).remove();
        }
    </script>



</head>



<body>
<div class="card" style="width: 20rem;margin-bottom: 50px">
    <div class="card-body">
        <h4 class="card-title"></h4>
        <p class="card-text">&nbsp</p>

    </div>
</div>

<div class="main-content">

    <!-- You only need this form and the form-basic.css -->

    <form class="form-basic" method="post", position = "left", action="{% url 'form' %}">
        {% csrf_token %}

        <div class="form-title-row">
            <h1>创建投票</h1>
        </div>

        <div class="form-row">
            <label>
                <span>投票名称</span>
                <input type="text" name="vote_name">
            </label>
        </div>
        <div class="form-row">
            <label>
                <span>投票介绍</span>
                <textarea name="vote_description"></textarea>
            </label>
        </div>

        <div class="form-row">
        <div class="" style="border:0px;">
            <h6 style="margin-left: 18.5%;margin-top:4.5%;font-size:14px;font-weight: 600;color: #5F5F5F;float: left;">投票选项</h6>
            <div class="panel-body " style="border:0px;">




                <div class="nopadding">
                    <div class="form-group" >
                        <div class="input-group" style="padding-left: 6%;">
                             <input style="width: 150px;" type="text" class="form-control" id="Schoolname" name="Schoolname[]" value="" >


{#                            <div style="width: auto; height: 30px"class="input-group-btn">#}
                                <button style="margin: 0 0 0 0;padding: 6.9px 10px;font-weight: 400;" type="button" class="btn btn-success" data-toggle="collapse" data-target="#collapseOne"> Details</button>

                                <button style="margin: 0 0 0 0;padding: 6.9px 10px;  background: lightseagreen" class="btn btn-success" type="button"  onclick="education_fields();"> <span style="padding-bottom: 2px" class="glyphicon glyphicon-plus" aria-hidden="true"></span> </button>

{#                            </div>#}
                        </div>

                    </div>
                </div>
                <div style="margin-left: 33.5%;" class="panel panel-default collapse" id="collapseOne">

                    <div class="panel-body" style="color: black" >
                        Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                        cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                        vice lomo.
                    </div>

                    {#                 这两行不能删#}

                </div>
                 <div id="education_fields">
                </div>

            </div>
        </div>

        </div>


{#        <div class="form-row">#}
{#            <div class="panel-group" id="accordion">#}
{#                <div class="panel panel-default">#}
{#                    <div class="panel-heading">#}
{#                        <h4 class="panel-title">#}


{#                        </h4>#}
{#                    </div>#}

{#                </div>#}

{#            </div>#}

{#        </div>#}




        <div class="form-row">
            <label>
                <span>开始时间</span>
                <input type="datetime-local" name="start_time">
            </label>
        </div>
        <div class="form-row">
            <label>
                <span>结束时间</span>
                <input type="datetime-local" name="end_time">
            </label>
        </div>

        <div class="form-row">
            <label>
                <span>投票类型</span>
                <select name="vote_type" style="margin-top: 12px">
                    <option>单选</option>
                    <option>多选</option>

                </select>
            </label>
        </div>
        <div class="form-row">
            <label>
                <span>投票权限</span>
                <select name="is_checkable" style="margin-top: 12px">
                    <option>任何人</option>
                    <option>须权限认证</option>

                </select>
            </label>
        </div>
        <div class="form-row">
            <label>
                <span>公开结果</span>
                <select name="is_opened" style="margin-top: 12px">
                    <option>yes</option>
                    <option>no</option>

                </select>
            </label>
        </div>


        <div class="form-row">
            <button class="button" type="submit">发起投票</button>
        </div>



    </form>

</div>



<div class="card" style="width: 20rem;margin-top: 300px">
    <div class="card-body">
        <h4 class="card-title"></h4>
        <p class="card-text">&nbsp</p>

    </div>
</div>

</body>

</html>

