<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="single_block_info">
    <div class="inmobile">
        {% for t,b in block %}
            <div>
                <div style="width: 30%;float: left" class="element-title">{{ t }}: </div>
                <div style="text-overflow: ellipsis;overflow: hidden;width: 70%" >{{ b}}</div>
            </div>

        {% endfor %}
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            {% for t in title %}
                <th id="th2-{{ forloop.counter }}">{{ t }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for b in infos %}
            <tr>
                {% for v in b %}
                    <td id="td2-{{ forloop.counter }}" title="{{ v }}">
                        {{ v }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>